name: Image Cleanup

on:
  schedule:
    # Runs on 19:00 JST every day, note that cron syntax applied as UTC
    - cron: '0 10 * * *'
  workflow_dispatch:

permissions:
  issues: write

jobs:
  clean-ghcr:
    name: Delete old unused container images
    runs-on: ubuntu-24.04
    steps:
      - name: Delete old images
        uses: snok/container-retention-policy@v2
        with:
          image-names: random-travelers
          cut-off: 1 days ago JST
          # Keep 1 image within 1 days ago
          keep-at-least: 1
          account-type: personal
          token: ${{ secrets.PAT_PACKAGE_CLEANUP }}

  stale-issue:
    name: Clean up staled issue
    runs-on: ubuntu-24.04
    steps:
      - name: Stale issue
        uses: actions/stale@v10
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: "This issue is stale because it has been open for 14 days with no activity."
          close-issue-message: "This issue was closed because it has been inactive for 3 days since being marked as staled."
          stale-issue-label: "staled"
          days-before-issue-stale: 14
          days-before-issue-close: 3
          # Does not apply for PRs
          days-before-pr-stale: -1
          days-before-pr-close: -1
