name: Tests

on:
  push:
    branches:
      - '**'
      - '!main'
  workflow_dispatch:

env:
  # For starting up bitnami/mysql
  MYSQL_PASSWORD: root
  MYSQL_DATABASE: rt
  # Additionally for FastAPI container
  JAWSDB_URL: "mysql://root:root@0.0.0.0:3306/rt"


jobs:
  build:
    name: Tests
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
        # https://github.com/snok/install-poetry

      - name: Install dependencies
        run: |
          poetry install

      - name: Run pytest
        env:
          MYSQL_PASSWORD: ${{ env.MYSQL_PASSWORD }}
          MYSQL_DATABASE: ${{ env.MYSQL_DATABASE }}
          JAWSDB_URL: ${{ env.JAWSDB_URL }}
        run: |
          make db
          poetry run pytest -s --verbosity=3
